body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #2F4F4F;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.people {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    gap: 40px 30px;
    padding-top: 30px;

    @media (min-width: 750px) {
        grid-template-columns: repeat(2, 200px);
    }

    @media (min-width: 1000px) {
        grid-template-columns: repeat(4, 200px);
    }

    @media (min-width: 1500px) {
        grid-template-columns: repeat(4, 200px);
    }
}

.photo__img {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;

    transition-duration: 1s;
}

.rank {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    color: #8B0000;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    position: relative;
}

.details {
    padding-top: 8px;
}

.extra {
    padding-top: 9px;
    display: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 40px;
}

.person {
    position: relative;
    transition: 0.3s;
    &__wrapper{
    width: 200px;
    height: 231px;
    position: relative;
    transition-duration: 1s;

    }

    &:hover {
        z-index: 1;
        transform: scale(1.32);
        background-color: #EEEEEE;
        border-radius: 10px;
        padding: 10px;

        .extra {
            display: block;
        }

        .photo{
            transition: border-radius 1s;
            .photo__img{
                border-radius: 60px;
            }
        }

    }
}